div, p, body, a{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.home {
	padding-top: 240px;
  height: 100%;
}

.home a {
	padding-right: 10px;
	text-decoration: none;
	font-size: 12px;
	color: black;
	padding-top: 240px;
}

.bg {
  position: absolute;
  bottom: 0;
  right: 0;
	padding-bottom: 10px;
	padding-right: 10px;
  background: url(bg-home.png) right bottom no-repeat;
	width: 360px;
	height: 280px;
}